.gradle/3.2.1/taskArtifacts/fileSnapshots.bin
.gradle/3.2.1/taskArtifacts/taskArtifacts.bin
.gradle/3.2.1/taskArtifacts/taskArtifacts.lock
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Gradle__com_fasterxml_jackson_core_jackson_core_2_1_3.xml
.idea/libraries/Gradle__com_google_api_api_common_1_1_0.xml
.idea/libraries/Gradle__com_google_api_client_google_api_client_1_22_0.xml
.idea/libraries/Gradle__com_google_api_gax_1_5_0.xml
.idea/libraries/Gradle__com_google_api_gax_grpc_0_22_0.xml
.idea/libraries/Gradle__com_google_api_grpc_grpc_google_cloud_pubsub_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_grpc_google_cloud_spanner_admin_database_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_grpc_google_cloud_spanner_admin_instance_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_grpc_google_cloud_spanner_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_grpc_google_common_protos_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_grpc_google_longrunning_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_error_reporting_v1beta1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_language_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_language_v1beta2_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_logging_v2_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_monitoring_v3_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_pubsub_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_spanner_admin_database_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_spanner_admin_instance_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_spanner_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_speech_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_speech_v1beta1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_trace_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_cloud_vision_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_common_protos_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_iam_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_api_grpc_proto_google_longrunning_v1_0_1_15.xml
.idea/libraries/Gradle__com_google_apis_google_api_services_bigquery_v2_rev347_1_22_0.xml
.idea/libraries/Gradle__com_google_apis_google_api_services_cloudresourcemanager_v1beta1_rev10_1_21_0.xml
.idea/libraries/Gradle__com_google_apis_google_api_services_compute_v1_rev103_1_21_0.xml
.idea/libraries/Gradle__com_google_apis_google_api_services_dns_v1_rev7_1_21_0.xml
.idea/libraries/Gradle__com_google_apis_google_api_services_storage_v1_rev108_1_22_0.xml
.idea/libraries/Gradle__com_google_apis_google_api_services_translate_v2_rev47_1_22_0.xml
.idea/libraries/Gradle__com_google_auth_google_auth_library_credentials_0_7_0.xml
.idea/libraries/Gradle__com_google_auth_google_auth_library_oauth2_http_0_7_0.xml
.idea/libraries/Gradle__com_google_auto_value_auto_value_1_2.xml
.idea/libraries/Gradle__com_google_cloud_datastore_datastore_v1_proto_client_1_3_0.xml
.idea/libraries/Gradle__com_google_cloud_datastore_datastore_v1_protos_1_3_0.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_0_21_1_alpha.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_bigquery_0_21_1_beta.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_compute_0_21_1_alpha.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_core_1_3_1.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_core_grpc_1_3_1.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_core_http_1_3_1.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_datastore_1_3_1.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_dns_0_21_1_alpha.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_errorreporting_0_21_1_alpha.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_language_0_21_1_beta.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_logging_1_3_1.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_monitoring_0_21_1_alpha.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_pubsub_0_21_1_beta.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_resourcemanager_0_21_1_alpha.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_spanner_0_21_1_beta.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_speech_0_21_1_alpha.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_storage_1_3_1.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_trace_0_21_1_alpha.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_translate_1_3_1.xml
.idea/libraries/Gradle__com_google_cloud_google_cloud_vision_0_21_1_beta.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_0.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_7.xml
.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_0_19.xml
.idea/libraries/Gradle__com_google_guava_guava_20_0.xml
.idea/libraries/Gradle__com_google_http_client_google_http_client_1_22_0.xml
.idea/libraries/Gradle__com_google_http_client_google_http_client_appengine_1_22_0.xml
.idea/libraries/Gradle__com_google_http_client_google_http_client_jackson2_1_22_0.xml
.idea/libraries/Gradle__com_google_http_client_google_http_client_jackson_1_22_0.xml
.idea/libraries/Gradle__com_google_http_client_google_http_client_protobuf_1_20_0.xml
.idea/libraries/Gradle__com_google_instrumentation_instrumentation_api_0_4_2.xml
.idea/libraries/Gradle__com_google_oauth_client_google_oauth_client_1_22_0.xml
.idea/libraries/Gradle__com_google_protobuf_protobuf_java_3_3_1.xml
.idea/libraries/Gradle__com_google_protobuf_protobuf_java_util_3_3_1.xml
.idea/libraries/Gradle__commons_codec_commons_codec_1_3.xml
.idea/libraries/Gradle__commons_fileupload_commons_fileupload_1_3_2.xml
.idea/libraries/Gradle__commons_io_commons_io_2_2.xml
.idea/libraries/Gradle__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Gradle__io_grpc_grpc_auth_1_4_0.xml
.idea/libraries/Gradle__io_grpc_grpc_context_1_4_0.xml
.idea/libraries/Gradle__io_grpc_grpc_core_1_4_0.xml
.idea/libraries/Gradle__io_grpc_grpc_netty_1_4_0.xml
.idea/libraries/Gradle__io_grpc_grpc_protobuf_1_4_0.xml
.idea/libraries/Gradle__io_grpc_grpc_protobuf_lite_1_4_0.xml
.idea/libraries/Gradle__io_grpc_grpc_stub_1_4_0.xml
.idea/libraries/Gradle__io_netty_netty_buffer_4_1_11_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_4_1_11_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_http2_4_1_11_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_http_4_1_11_Final.xml
.idea/libraries/Gradle__io_netty_netty_codec_socks_4_1_11_Final.xml
.idea/libraries/Gradle__io_netty_netty_common_4_1_11_Final.xml
.idea/libraries/Gradle__io_netty_netty_handler_4_1_11_Final.xml
.idea/libraries/Gradle__io_netty_netty_handler_proxy_4_1_11_Final.xml
.idea/libraries/Gradle__io_netty_netty_resolver_4_1_11_Final.xml
.idea/libraries/Gradle__io_netty_netty_tcnative_boringssl_static_2_0_3_Final.xml
.idea/libraries/Gradle__io_netty_netty_transport_4_1_11_Final.xml
.idea/libraries/Gradle__joda_time_joda_time_2_9_2.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpclient_4_0_1.xml
.idea/libraries/Gradle__org_apache_httpcomponents_httpcore_4_0_1.xml
.idea/libraries/Gradle__org_codehaus_jackson_jackson_core_asl_1_9_11.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_1_4.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jre7_1_1_4.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jre8_1_1_4.xml
.idea/libraries/Gradle__org_json_json_20160810.xml
.idea/libraries/Gradle__org_threeten_threetenbp_1_3_3.xml
.idea/modules/spanner.iml
.idea/modules/spanner_main.iml
.idea/modules/spanner_test.iml
build/kotlin-build/caches/version.txt
build/kotlin/compileKotlin/sync/kotlin-files-in-java-timestamps.bin
build/kotlin/compileTestKotlin/sync/kotlin-files-in-java-timestamps.bin
build/libs/spanner-1.0-SNAPSHOT.jar
build/tmp/jar/MANIFEST.MF
out/production/classes/com/fef/spanner/common/CrudRepository.class
out/production/classes/com/fef/spanner/common/DBFactory$Config.class
out/production/classes/com/fef/spanner/common/DBFactory.class
out/production/classes/com/fef/spanner/repository/CustomerRepository.class
out/test/classes/com/fef/spanner/common/TestCustomerRepository.class
